.bucketList {
  list-style: none;
  padding-left: 1rem;
}

.bucketList .remove {
  background-color: transparent;
  border: none;
  color: darkred;
  margin-left: 1rem;
  padding: 0;
}

.bucketForm {
  display: flex;
  gap: 1rem;
}

.bucketForm input {
  flex-grow: 1;
}
